//Right now, this is temporary so I can see where the position of this all is
.page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95%;
  //max-height: calc(100vh - 200px);
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: var(--primary-white);
}

.pageHeading {
  display: flex;
  //flex-direction: row;
  align-items: center;
  font-size: 3rem;
  font-weight: 550;
  flex-direction: row;
  gap: 12px;
  //background-color: var(--primary-green);
  //border: 1px dashed var(--primary-black);
}

.backButton {
  background-color: var(--primary-black);
  color: var(--primary-white) !important;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 24px;
  margin-left: 8px;
}

.feed {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  justify-content: space-evenly;
  display: flexbox;
  width: 100%;
  height: 87%;
  //background-color: var(--primary-green);
  //border-top: 1px solid var(--primary-black);

  //box-shadow: -6px 0 var(--primary-white), 6px 0 var(--primary-white), 0 3px 2.5px 0 var(--shadow-colour);
}

.feedSeperator {
  height: 1px;
  border-top: 1px solid var(--primary-black);
  margin-left: 10px;
  margin-right: 10px;
}

.feedStart {
  height: 5px;
}

.feedEnd {
  height: 100px;
}

.homeTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  background-color: var(--primary-green);
  border-bottom: 2.5px solid var(--primary-white);
  border-radius: 12px;
  //border: 1px dashed var(--primary-black);
  //margin-bottom: 6px;
  //box-shadow: -6px 0 var(--primary-white), 6px 0 var(--primary-white), 0 2px 5px 0 var(--shadow-colour);
}