.newPostButton {
  display: flexbox;
  //width: 95%;
  border: 2px dashed var(--primary-blue); //primary blue
  justify-content: space-evenly;
  margin: 10px;
  box-shadow: 0 2px 10px 0px var(--shadow-colour);
}
