.newPostButton {
  position: relative;
  bottom: 0;
  left: 0;
  display: flexbox;
  width: 95%;
  //height: ;
  //border-top: 0.9px solid #454545;
  border-radius: 25px;
  border: 2px solid var(--primary-blue); //primary blue
  justify-content: space-evenly;
  padding: -1px -1px -1px -1px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 2px 10px 0px var(--shadow-colour);
  background-color: var(--primary-white);
}

img {
  margin: 10px;
  border-radius: 50%;
}
