.shopPage {
  width: 100%;
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
  scrollbar-width: none;
}

.itemContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-gray);
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 12px;
  border-radius: 12px;

  img {
    object-fit: cover;
    border-radius: 0;
  }

  [id='brand'] {
    font-size: 1.2rem;
    font-weight: 500;
  }

  [id='name'] {
    font-size: 1.1rem;
    font-weight: 450;
  }

  [id='price'] {
    display: flex;
    gap: 8px;
    font-size: 1.1rem;
    font-weight: 500;
  }
}

.addToCartButton {
  border: none;
  border-radius: 4px;
  background-color: var(--primary-black);
  color: white;
  padding: 8px;
  cursor: pointer;
  margin-top: 8px;
}

.pageHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  font-weight: 550;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 12px 24px;
  align-items: center;
}

.relative {
  position: relative;
  display: flex;
}

.priceRangeDropdown {
  background-color: #cccccc;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid black;
  position: absolute;
  top: 50px;
  left: 0;
}

.filterLabel {
  padding: 4px;
  border-radius: 4px;
  border: 1px solid grey;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #cccccc;
  margin-top: 2px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  width: 125px;

  div {
    padding: 8px 16px;
    cursor: pointer;
    color: black;

    &.selected {
      background-color: var(--primary-gray) !important;
    }

    &:not(.selected):hover {
      background-color: #f0f0f0 !important;
    }
  }
}

.cartIcon {
  cursor: pointer;
  position: relative;
}

.itemsInCart {
  position: absolute;
  top: 0;
  min-width: 15px;
  min-height: 15px;
  text-align: center;
  left: 0;
  aspect-ratio: 1 / 1;
  background-color: var(--primary-red);
  color: black;
  border-radius: 999px;
  padding: 4px;
  font-size: 0.9rem;
}

.cartPageHeading {
  display: flex;
  font-size: 3rem;
  font-weight: 550;
  gap: 12px;
  align-items: center;

  svg {
    cursor: pointer;
  }
}

.cartItem {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 12px;
  border-bottom: 1px solid #cccccc;
}

.cartItemDescription {
  display: flex;
  flex-direction: column;
  width: 70%;

  [id='category'] {
    font-size: 1.2rem;
    font-weight: 450;
  }

  [id='brand'] {
    font-size: 1.1rem;
    font-weight: 500;
  }

  [id='price'] {
    display: flex;
    gap: 8px;
    margin-top: auto;
  }
}

.quantitySelector {
  display: flex;
  align-items: end;
  justify-content: end;
  width: 30%;
  font-size: 1.1rem;

  > div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 8px;

    svg {
      cursor: pointer;
    }

    div {
      cursor: pointer;
      user-select: none;
    }
  }
}

.quantityHeader {
  font-size: 1.2rem;
  font-weight: 450;
}

.checkoutButton {
  width: 100%;
  font-size: 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-black);
  color: white;
  padding: 8px;
  cursor: pointer;
  margin-top: 8px;
}

.subtotal {
  display: flex;
  width: 100%;
  justify-content: end;
  padding: 12px 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.checkoutScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}

.backButton {
  background-color: var(--primary-black);
  padding: 0.5rem;
  border-radius: 8px;
}

.searchBar {
  display: flex;

  input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 1px solid #d4d6db;
    border-radius: 0.375rem;
    font-weight: 500;
    line-height: 20px;
    height: 40%;
  }

  @media (max-width: 640px) {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
