.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 80px;
  border-top: 0.9px solid #454545;
  justify-content: space-evenly;
  padding: 10px 0 0 0;
  z-index: 100;
  background-color: var(--primary-white);
}

.footerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

// popup stuff for profile edit leave
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: var(--primary-white);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popupButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.confirmButton,
.cancelButton {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.confirmButton {
  background-color: var(--primary-black);
  color: white;

  &:hover {
    background-color: #3c3c3c;
  }
}

.cancelButton {
  background-color: var(--secondary-white);
  // color: red;
  border: 1px solid black;
  color: black;

  &:hover {
    background-color: #f0f0f0;
  }
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.activeIcon {
  background-color: #ccc; // Light gray
  transform: scale(1.05); // subtle pop effect
}
