.outerBox {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.post {
  position: relative;
  bottom: 0;
  left: 0;
  display: flexbox;
  width: 95%;
  //height: ;
  //border-top: 0.9px solid #454545;
  border-radius: 25px;
  border: 2px solid var(--primary-black); //primary blue
  justify-content: space-evenly;
  padding: -1px -1px -1px -1px;
  box-shadow: 0 2px 10px 0px var(--shadow-colour);
  background-color: var(--primary-white);
  margin-bottom: 5px;
}

.postItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.postHeader {
  display: flex;
  width: 100%;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  //border-color: 2px solid var(--primary-blue);
  background-color: var(--primary-black);
  align-items: center;
}

.postUser {
  height: 100%;
  margin: 10px;
  width: 50%;
  //border: 2px dashed #000000;
}

img {
  margin: 10px;
  // border-radius: 50%;
}

h2 {
  display: block;
  font-size: 1.25em;
  color: var(--primary-white);
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.postContents {
  margin: 25px;
  //border-radius:25px;
}

.rotate90 {
  rotate: 90deg;
}

.mirrored {
  transform: scaleX(-1);
}

.buttonIcons {
  margin-left: 25px;
  display: flex;
  justify-content: left;
  width: 30%;
  //border: 1px dashed var(--primary-black);
}

.actionButton {
  margin: 5px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  transform: scale(1.2, 1.2);
}
