//Right now, this is temporary so I can see where the position of this all is
.page {
  width: 100%;
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: var(--primary-white);
}

.pageHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  font-weight: 550;
}

.homeContents {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  justify-content: space-evenly;
  display: flexbox;
  width: 100%;
  height: 80%; //65 works for the really extreme case, 80% is probably the best
  background-color: var(--primary-white);
  //margin-bottom: 50px;
  //margin-top: 10px;
  //box-shadow: -6px 0 var(--primary-white), 6px 0 var(--primary-white), 0 3px 2.5px 0 var(--shadow-colour);
}

.homeTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  background-color: var(--primary-green);
  border-bottom: 2.5px solid var(--primary-white);
  border-radius: 12px;
  //border: 1px dashed var(--primary-black);
  //margin-bottom: 6px;
  //box-shadow: -6px 0 var(--primary-white), 6px 0 var(--primary-white), 0 2px 5px 0 var(--shadow-colour);
}

.outerBox {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.post {
  position: relative;
  bottom: 0;
  left: 0;
  display: flexbox;
  //width: 95%;
  //height: ;
  //border-top: 0.9px solid #454545;
  border-radius: 25px;
  border: 2px solid var(--primary-blue); //primary blue
  justify-content: space-evenly;
  padding: -1px -1px -1px -1px;
  box-shadow: 0 2px 10px 0px var(--shadow-colour);
  background-color: var(--primary-white);
  margin-bottom: 5px;
}

.postItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.postHeader {
  display: flex;
  width: 100%;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  //border-color: 2px solid var(--primary-blue);
  background-color: var(--primary-blue);
  align-items: center;
}

.postUser {
  height: 100%;
  margin: 10px;
  width: 50%;
  //border: 2px dashed #000000;

  display: block;
  font-size: 1.25em;
  color: var(--primary-white);
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  
}

img {
  margin: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.postContents {
  margin: 25px;
  //border-radius:25px;
}

.rotate90 {
  rotate: 90deg;
}

.mirrored {
  transform: scaleX(-1);
}

.buttonIcons {
  margin-left: 25px;
  display:flex;
  justify-content: left;
  width: 30%;
  //border: 1px dashed var(--primary-black);
}

.actionButton {
  margin: 5px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  transform: scale(1.2,1.2);
}