.eventspage {
    width: 100%;
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 20px; 
  
    .titleRow {
      text-align: left; 
      margin-bottom: 20px; 
      h1, h2 {
        margin: 0; 
      }
    }

    .seperator {
        border: 0;
        height: 1px; 
        background-color: #6d6d6d; 
        margin: 20px auto; 
        width: 80%; 
      }
  
    .row {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 10px;
    }
  
    .calendarContainer {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        overflow: hidden;
    
        :global {
          .fc-header-toolbar {
            white-space: nowrap; 
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px; 
          }
    
          .fc-toolbar-title {
            font-size: 1rem; 
            margin: 0; 
          }
          .fc-event {
            overflow:hidden;
            white-space: nowrap;
            text-overflow: ellipses;
          }
        }
      }
    
  
      .eventsListContainer {
        height: 150px; 
        overflow-y: auto; 
        border: 1px solid #ccc; 
        padding: 10px; 
        margin-bottom: 20px; 
      }
    
      .eventsList {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    
      .eventCard {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 15px;
        width: 100%;
        max-width: 400px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
        h3 {
          margin: 0;
          font-size: 1.2rem;
          color: #333;
        }
    
        p {
          margin: 5px 0;
          font-size: 0.9rem;
          color: #666;
        }
      }
    }