.page {
  position: relative;
  display:flex;
  flex-direction: column;
  width: 100%;
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: var(--primary-white);
}

.searchContainer {
  padding: 10px 10px 10px 10px;
}

.searchTypeContainer {
  margin: 10px;
  width: 60%;
  border-radius: 25px;
  display:flex;
  flex-direction: column;
  background-color: var(--primary-blue);
  padding: 15px 20px;
}

.searchTypeOption {
  display:flex;
  //margin:10px;
  margin-bottom:10px;
  margin-top:10px;
  flex-direction: row;
  align-items: center;
}

.postOptions {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
  margin-top:20px;
  align-items: space-evenly;
  //background-color: var(--primary-green);
  //border-top: 1px solid var(--primary-black);

  //box-shadow: -6px 0 var(--primary-white), 6px 0 var(--primary-white), 0 3px 2.5px 0 var(--shadow-colour);
}

.option {
  width: 62%;
  height: 30px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 10px 20px;
  //margin: 10px;
  //margin-right: 10px;
  justify-content: left;
  align-items: center;
  //transform: scale(1.2,1.2);
  border-radius: 25px;
  background-color: var(--primary-green);
}

.optionText {
  margin-left: 10px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  margin: 0px;
  top: -7.5px;
  left: 2.5px;
  height: 25px;
  width: 25px;
  background-color: var(--primary-white);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: var(--secondary-green);
}

.container input:checked ~ .checkmark {
  background-color: var(--primary-black);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--secondary-green);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dropdownBox {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: fit-content;
  padding: 20px;
  border-radius: 25px;

  margin-top:20px;
  align-items: space-evenly;
  background-color: var(--primary-green);
}